<!DOCTYPE html>
<html>
  <head>
    <title>Rails Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Rails Log">
    <meta name="author" content="YoungPhil">
    <meta name="description" content="Infomations of the Tiny Rails">
    <meta name="keywords" content="Tiny Rails, Resources, Stations, 레일스, 게임공략">
  </head>
  <body>
    <div id="app">
      <slot>loading...</slot>
    </div>
  </body>
</html>
