.sprite { background: url('sprite.png') no-repeat top left; width: 124px; height: 124px;  } 
.sprite.Apple { background-position: 0 0; } 
.sprite.Banana { background-position: 0 -124px; } 
.sprite.BBQRib { background-position: 0 -248px; } 
.sprite.Bonbon { background-position: 0 -372px; } 
.sprite.Candle { background-position: 0 -496px; } 
.sprite.Carrot { background-position: 0 -620px; } 
.sprite.CasinoChip { background-position: 0 -744px; } 
.sprite.Chicken { background-position: 0 -868px; } 
.sprite.CoffeeBeans { background-position: 0 -992px; } 
.sprite.Copper { background-position: 0 -1116px; } 
.sprite.Corn { background-position: 0 -1240px; } 
.sprite.Cow { background-position: 0 -1364px; } 
.sprite.Firework { background-position: 0 -1488px; } 
.sprite.HockeyStick { background-position: 0 -1612px; } 
.sprite.HolyWater { background-position: 0 -1736px; } 
.sprite.Honey { background-position: 0 -1860px; } 
.sprite.Iron { background-position: 0 -1984px; } 
.sprite.Lemon { background-position: 0 -2108px; } 
.sprite.Meatball { background-position: 0 -2232px; } 
.sprite.MicroProcessor { background-position: 0 -2356px; } 
.sprite.Oil { background-position: 0 -2480px; } 
.sprite.Onion { background-position: 0 -2604px; } 
.sprite.Orange { background-position: 0 -2728px; } 
.sprite.Paper { background-position: 0 -2852px; } 
.sprite.Parka { background-position: 0 -2976px; } 
.sprite.Pasta { background-position: 0 -3100px; } 
.sprite.Peanut { background-position: 0 -3224px; } 
.sprite.Pig { background-position: 0 -3348px; } 
.sprite.Pizza { background-position: 0 -3472px; } 
.sprite.Poutine { background-position: 0 -3596px; } 
.sprite.Salmon { background-position: 0 -3720px; } 
.sprite.Sausage { background-position: 0 -3844px; } 
.sprite.Sheep { background-position: 0 -3968px; } 
.sprite.Steel { background-position: 0 -4092px; } 
.sprite.Strawberry { background-position: 0 -4216px; } 
.sprite.Tea { background-position: 0 -4340px; } 
.sprite.Tomato { background-position: 0 -4464px; } 
.sprite.Tulip { background-position: 0 -4588px; } 
.sprite.UtilityKnife { background-position: 0 -4712px; } 
.sprite.Water { background-position: 0 -4836px; } 
.sprite.Wheat { background-position: 0 -4960px; } 
.sprite.Wood { background-position: 0 -5084px; } 
